    <div class="container" id="container">
        <div class="row bottom">
            <div class="col-lg-8 col-md-8 col-sm-7 col-left">
                <div>
                    <section>
                        <div class="row text-center">
                            <div class="col-lg-12">
                                
                                <!--activity image-->
                                <%= image_tag("image-home-2.jpg", alt: "Home Header Image", class: "img-responsive") %>
                                <img class="img-responsive" src="assets/images/image-home-2.jpg" alt="Project header">
                                
                                <!--activity title -->
                                <h1>hello i'm a web/app Developer</h1>
                                <h1 class="spacer">___</h1>
                                
                                <!--activity descritpion-->
                                <p class="work">Living in Seoul</p>
                                <p>The major language I use is Objective-C and Ruby. Mostly work with Cocoa/iOS SDK and Rails Framework. Love to work with Designers and Creative people. Started to learn C language from college since I was Electrical Engineer major. Got interested in software development. Took some JAVA classes and teach myself Obj-C on Senior year. Moved to New york to work with more Desinged centric people.</p>
                            
                            </div>
                        </div>   
                    </section>
                </div>
            </div>
            <%= render 'layouts/work' %>
        </div>                        
    </div>  
            